=begin
#ShipEngine API

#ShipEngine™ is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.  ### Worldwide Major Carrier Support Access the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).  ### Real-Time Tracking [Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.  ### Get Rates Across Carriers Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.  ### Global Address Validation No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)  ShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more. 

OpenAPI spec version: 1.0.0
Contact: sales@shipengine.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module ShipEngineApi
  class BatchesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # batches.add_to_batch
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_batches_add_by_batch_id_post(batch_id, body, opts = {})
      v1_batches_add_by_batch_id_post_with_http_info(batch_id, body, opts)
      nil
    end

    # batches.add_to_batch
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_batches_add_by_batch_id_post_with_http_info(batch_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_add_by_batch_id_post ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.v1_batches_add_by_batch_id_post"
      end
      if @api_client.config.client_side_validation && batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_add_by_batch_id_post, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_add_by_batch_id_post, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'batch_id' when calling BatchesApi.v1_batches_add_by_batch_id_post, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BatchesApi.v1_batches_add_by_batch_id_post"
      end
      # resource path
      local_var_path = '/v1/batches/{batch_id}/add'.sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_add_by_batch_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.get_by_id
    # 
    # @param batch_id 
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def v1_batches_by_batch_id_get(batch_id, opts = {})
      data, _status_code, _headers = v1_batches_by_batch_id_get_with_http_info(batch_id, opts)
      data
    end

    # batches.get_by_id
    # 
    # @param batch_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def v1_batches_by_batch_id_get_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_by_batch_id_get ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.v1_batches_by_batch_id_get"
      end
      if @api_client.config.client_side_validation && batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_by_batch_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_by_batch_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'batch_id' when calling BatchesApi.v1_batches_by_batch_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/batches/{batch_id}'.sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_by_batch_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.find_errors
    # 
    # @param batch_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [BatchErrorsResponseBody]
    def v1_batches_errors_by_batch_id_get(batch_id, opts = {})
      data, _status_code, _headers = v1_batches_errors_by_batch_id_get_with_http_info(batch_id, opts)
      data
    end

    # batches.find_errors
    # 
    # @param batch_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [Array<(BatchErrorsResponseBody, Fixnum, Hash)>] BatchErrorsResponseBody data, response status code and response headers
    def v1_batches_errors_by_batch_id_get_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_errors_by_batch_id_get ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.v1_batches_errors_by_batch_id_get"
      end
      if @api_client.config.client_side_validation && batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_errors_by_batch_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_errors_by_batch_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'batch_id' when calling BatchesApi.v1_batches_errors_by_batch_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/batches/{batch_id}/errors'.sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pagesize'] = opts[:'pagesize'] if !opts[:'pagesize'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BatchErrorsResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_errors_by_batch_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.get_by_external_id
    # 
    # @param external_batch_id 
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def v1_batches_external_batch_id_by_external_batch_id_get(external_batch_id, opts = {})
      data, _status_code, _headers = v1_batches_external_batch_id_by_external_batch_id_get_with_http_info(external_batch_id, opts)
      data
    end

    # batches.get_by_external_id
    # 
    # @param external_batch_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def v1_batches_external_batch_id_by_external_batch_id_get_with_http_info(external_batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_external_batch_id_by_external_batch_id_get ...'
      end
      # verify the required parameter 'external_batch_id' is set
      if @api_client.config.client_side_validation && external_batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_batch_id' when calling BatchesApi.v1_batches_external_batch_id_by_external_batch_id_get"
      end
      if @api_client.config.client_side_validation && external_batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "external_batch_id" when calling BatchesApi.v1_batches_external_batch_id_by_external_batch_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && external_batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "external_batch_id" when calling BatchesApi.v1_batches_external_batch_id_by_external_batch_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && external_batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'external_batch_id' when calling BatchesApi.v1_batches_external_batch_id_by_external_batch_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/batches/external_batch_id/{external_batch_id}'.sub('{' + 'external_batch_id' + '}', external_batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_external_batch_id_by_external_batch_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.find
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [ListBatchResponseBody]
    def v1_batches_get(opts = {})
      data, _status_code, _headers = v1_batches_get_with_http_info(opts)
      data
    end

    # batches.find
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [Array<(ListBatchResponseBody, Fixnum, Hash)>] ListBatchResponseBody data, response status code and response headers
    def v1_batches_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_get ...'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['open', 'queued', 'processing', 'completed', 'completed_with_errors', 'archived', 'notifying', 'invalid'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of open, queued, processing, completed, completed_with_errors, archived, notifying, invalid'
      end
      if @api_client.config.client_side_validation && opts[:'sort_dir'] && !['asc', 'desc'].include?(opts[:'sort_dir'])
        fail ArgumentError, 'invalid value for "sort_dir", must be one of asc, desc'
      end
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !['ship_date', 'processed_at'].include?(opts[:'sort_by'])
        fail ArgumentError, 'invalid value for "sort_by", must be one of ship_date, processed_at'
      end
      # resource path
      local_var_path = '/v1/batches'

      # query parameters
      query_params = {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_dir'] = opts[:'sort_dir'] if !opts[:'sort_dir'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListBatchResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.create
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def v1_batches_post(body, opts = {})
      data, _status_code, _headers = v1_batches_post_with_http_info(body, opts)
      data
    end

    # batches.create
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def v1_batches_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BatchesApi.v1_batches_post"
      end
      # resource path
      local_var_path = '/v1/batches'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.process
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_batches_process_labels_by_batch_id_post(batch_id, body, opts = {})
      v1_batches_process_labels_by_batch_id_post_with_http_info(batch_id, body, opts)
      nil
    end

    # batches.process
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_batches_process_labels_by_batch_id_post_with_http_info(batch_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_process_labels_by_batch_id_post ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.v1_batches_process_labels_by_batch_id_post"
      end
      if @api_client.config.client_side_validation && batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_process_labels_by_batch_id_post, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_process_labels_by_batch_id_post, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'batch_id' when calling BatchesApi.v1_batches_process_labels_by_batch_id_post, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BatchesApi.v1_batches_process_labels_by_batch_id_post"
      end
      # resource path
      local_var_path = '/v1/batches/{batch_id}/process/labels'.sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_process_labels_by_batch_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # batches.remove_from_batch
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_batches_remove_by_batch_id_post(batch_id, body, opts = {})
      v1_batches_remove_by_batch_id_post_with_http_info(batch_id, body, opts)
      nil
    end

    # batches.remove_from_batch
    # 
    # @param batch_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_batches_remove_by_batch_id_post_with_http_info(batch_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchesApi.v1_batches_remove_by_batch_id_post ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.v1_batches_remove_by_batch_id_post"
      end
      if @api_client.config.client_side_validation && batch_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_remove_by_batch_id_post, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && batch_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "batch_id" when calling BatchesApi.v1_batches_remove_by_batch_id_post, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && batch_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'batch_id' when calling BatchesApi.v1_batches_remove_by_batch_id_post, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BatchesApi.v1_batches_remove_by_batch_id_post"
      end
      # resource path
      local_var_path = '/v1/batches/{batch_id}/remove'.sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#v1_batches_remove_by_batch_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
