=begin
#ShipEngine API

#ShipEngine™ is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.  ### Worldwide Major Carrier Support Access the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).  ### Real-Time Tracking [Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.  ### Get Rates Across Carriers Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.  ### Global Address Validation No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)  ShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more. 

OpenAPI spec version: 1.0.0
Contact: sales@shipengine.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module ShipEngineApi
  class CarriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # carriers.add_funds
    # 
    # @param carrier_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [BalanceResponseBody]
    def v1_carriers_add_funds_by_carrier_id_put(carrier_id, body, opts = {})
      data, _status_code, _headers = v1_carriers_add_funds_by_carrier_id_put_with_http_info(carrier_id, body, opts)
      data
    end

    # carriers.add_funds
    # 
    # @param carrier_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BalanceResponseBody, Fixnum, Hash)>] BalanceResponseBody data, response status code and response headers
    def v1_carriers_add_funds_by_carrier_id_put_with_http_info(carrier_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_add_funds_by_carrier_id_put ...'
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.v1_carriers_add_funds_by_carrier_id_put"
      end
      if @api_client.config.client_side_validation && carrier_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_add_funds_by_carrier_id_put, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && carrier_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_add_funds_by_carrier_id_put, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && carrier_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'carrier_id' when calling CarriersApi.v1_carriers_add_funds_by_carrier_id_put, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CarriersApi.v1_carriers_add_funds_by_carrier_id_put"
      end
      # resource path
      local_var_path = '/v1/carriers/{carrier_id}/add_funds'.sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BalanceResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_add_funds_by_carrier_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # carriers.get_by_id
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [Carrier]
    def v1_carriers_by_carrier_id_get(carrier_id, opts = {})
      data, _status_code, _headers = v1_carriers_by_carrier_id_get_with_http_info(carrier_id, opts)
      data
    end

    # carriers.get_by_id
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Carrier, Fixnum, Hash)>] Carrier data, response status code and response headers
    def v1_carriers_by_carrier_id_get_with_http_info(carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_by_carrier_id_get ...'
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.v1_carriers_by_carrier_id_get"
      end
      if @api_client.config.client_side_validation && carrier_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_by_carrier_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && carrier_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_by_carrier_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && carrier_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'carrier_id' when calling CarriersApi.v1_carriers_by_carrier_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/carriers/{carrier_id}'.sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Carrier')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_by_carrier_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # carriers.find
    # 
    # @param [Hash] opts the optional parameters
    # @return [CarrierListResponseBody]
    def v1_carriers_get(opts = {})
      data, _status_code, _headers = v1_carriers_get_with_http_info(opts)
      data
    end

    # carriers.find
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListResponseBody, Fixnum, Hash)>] CarrierListResponseBody data, response status code and response headers
    def v1_carriers_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_get ...'
      end
      # resource path
      local_var_path = '/v1/carriers'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # carriers.get_options
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [CarrierListOptionsResponseBody]
    def v1_carriers_options_by_carrier_id_get(carrier_id, opts = {})
      data, _status_code, _headers = v1_carriers_options_by_carrier_id_get_with_http_info(carrier_id, opts)
      data
    end

    # carriers.get_options
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListOptionsResponseBody, Fixnum, Hash)>] CarrierListOptionsResponseBody data, response status code and response headers
    def v1_carriers_options_by_carrier_id_get_with_http_info(carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_options_by_carrier_id_get ...'
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.v1_carriers_options_by_carrier_id_get"
      end
      if @api_client.config.client_side_validation && carrier_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_options_by_carrier_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && carrier_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_options_by_carrier_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && carrier_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'carrier_id' when calling CarriersApi.v1_carriers_options_by_carrier_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/carriers/{carrier_id}/options'.sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListOptionsResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_options_by_carrier_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # carriers.find_packages
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [PackageListResponseBody]
    def v1_carriers_packages_by_carrier_id_get(carrier_id, opts = {})
      data, _status_code, _headers = v1_carriers_packages_by_carrier_id_get_with_http_info(carrier_id, opts)
      data
    end

    # carriers.find_packages
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageListResponseBody, Fixnum, Hash)>] PackageListResponseBody data, response status code and response headers
    def v1_carriers_packages_by_carrier_id_get_with_http_info(carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_packages_by_carrier_id_get ...'
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.v1_carriers_packages_by_carrier_id_get"
      end
      if @api_client.config.client_side_validation && carrier_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_packages_by_carrier_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && carrier_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_packages_by_carrier_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && carrier_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'carrier_id' when calling CarriersApi.v1_carriers_packages_by_carrier_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/carriers/{carrier_id}/packages'.sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageListResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_packages_by_carrier_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # carriers.find_services
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [CarrierListServicesResponseBody]
    def v1_carriers_services_by_carrier_id_get(carrier_id, opts = {})
      data, _status_code, _headers = v1_carriers_services_by_carrier_id_get_with_http_info(carrier_id, opts)
      data
    end

    # carriers.find_services
    # 
    # @param carrier_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListServicesResponseBody, Fixnum, Hash)>] CarrierListServicesResponseBody data, response status code and response headers
    def v1_carriers_services_by_carrier_id_get_with_http_info(carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.v1_carriers_services_by_carrier_id_get ...'
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.v1_carriers_services_by_carrier_id_get"
      end
      if @api_client.config.client_side_validation && carrier_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_services_by_carrier_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && carrier_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "carrier_id" when calling CarriersApi.v1_carriers_services_by_carrier_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && carrier_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'carrier_id' when calling CarriersApi.v1_carriers_services_by_carrier_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/carriers/{carrier_id}/services'.sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListServicesResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#v1_carriers_services_by_carrier_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
