=begin
#ShipEngine API

#ShipEngine™ is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.  ### Worldwide Major Carrier Support Access the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).  ### Real-Time Tracking [Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.  ### Get Rates Across Carriers Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.  ### Global Address Validation No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)  ShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more. 

OpenAPI spec version: 1.0.0
Contact: sales@shipengine.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module ShipEngineApi
  class ShipmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # shipments.get_by_id
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [Shipment]
    def v1_shipments_by_shipment_id_get(shipment_id, opts = {})
      data, _status_code, _headers = v1_shipments_by_shipment_id_get_with_http_info(shipment_id, opts)
      data
    end

    # shipments.get_by_id
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Shipment, Fixnum, Hash)>] Shipment data, response status code and response headers
    def v1_shipments_by_shipment_id_get_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_by_shipment_id_get ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_by_shipment_id_get"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_by_shipment_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_by_shipment_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_by_shipment_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/shipments/{shipment_id}'.sub('{' + 'shipment_id' + '}', shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Shipment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_by_shipment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.update_shipment
    # 
    # @param shipment_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [CreateShipmentResponseBody]
    def v1_shipments_by_shipment_id_put(shipment_id, body, opts = {})
      data, _status_code, _headers = v1_shipments_by_shipment_id_put_with_http_info(shipment_id, body, opts)
      data
    end

    # shipments.update_shipment
    # 
    # @param shipment_id 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipmentResponseBody, Fixnum, Hash)>] CreateShipmentResponseBody data, response status code and response headers
    def v1_shipments_by_shipment_id_put_with_http_info(shipment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_by_shipment_id_put ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_by_shipment_id_put"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_by_shipment_id_put, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_by_shipment_id_put, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_by_shipment_id_put, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ShipmentsApi.v1_shipments_by_shipment_id_put"
      end
      # resource path
      local_var_path = '/v1/shipments/{shipment_id}'.sub('{' + 'shipment_id' + '}', shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CreateShipmentResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_by_shipment_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.cancel
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_shipments_cancel_by_shipment_id_put(shipment_id, opts = {})
      v1_shipments_cancel_by_shipment_id_put_with_http_info(shipment_id, opts)
      nil
    end

    # shipments.cancel
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_shipments_cancel_by_shipment_id_put_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_cancel_by_shipment_id_put ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_cancel_by_shipment_id_put"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_cancel_by_shipment_id_put, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_cancel_by_shipment_id_put, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_cancel_by_shipment_id_put, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/shipments/{shipment_id}/cancel'.sub('{' + 'shipment_id' + '}', shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_cancel_by_shipment_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.find_errors
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [ShipmentErrorsResponseBody]
    def v1_shipments_errors_by_shipment_id_get(shipment_id, opts = {})
      data, _status_code, _headers = v1_shipments_errors_by_shipment_id_get_with_http_info(shipment_id, opts)
      data
    end

    # shipments.find_errors
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [Array<(ShipmentErrorsResponseBody, Fixnum, Hash)>] ShipmentErrorsResponseBody data, response status code and response headers
    def v1_shipments_errors_by_shipment_id_get_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_errors_by_shipment_id_get ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_errors_by_shipment_id_get"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_errors_by_shipment_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_errors_by_shipment_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_errors_by_shipment_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/shipments/{shipment_id}/errors'.sub('{' + 'shipment_id' + '}', shipment_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pagesize'] = opts[:'pagesize'] if !opts[:'pagesize'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentErrorsResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_errors_by_shipment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.get_by_external_id
    # 
    # @param external_shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [Shipment]
    def v1_shipments_external_shipment_id_by_external_shipment_id_get(external_shipment_id, opts = {})
      data, _status_code, _headers = v1_shipments_external_shipment_id_by_external_shipment_id_get_with_http_info(external_shipment_id, opts)
      data
    end

    # shipments.get_by_external_id
    # 
    # @param external_shipment_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Shipment, Fixnum, Hash)>] Shipment data, response status code and response headers
    def v1_shipments_external_shipment_id_by_external_shipment_id_get_with_http_info(external_shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_external_shipment_id_by_external_shipment_id_get ...'
      end
      # verify the required parameter 'external_shipment_id' is set
      if @api_client.config.client_side_validation && external_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_shipment_id' when calling ShipmentsApi.v1_shipments_external_shipment_id_by_external_shipment_id_get"
      end
      if @api_client.config.client_side_validation && external_shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "external_shipment_id" when calling ShipmentsApi.v1_shipments_external_shipment_id_by_external_shipment_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && external_shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "external_shipment_id" when calling ShipmentsApi.v1_shipments_external_shipment_id_by_external_shipment_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && external_shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'external_shipment_id' when calling ShipmentsApi.v1_shipments_external_shipment_id_by_external_shipment_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/shipments/external_shipment_id/{external_shipment_id}'.sub('{' + 'external_shipment_id' + '}', external_shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Shipment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_external_shipment_id_by_external_shipment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.find
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :batch_id 
    # @option opts [String] :tag 
    # @option opts [String] :shipment_status 
    # @option opts [DateTime] :modified_at_start 
    # @option opts [DateTime] :modified_at_end 
    # @option opts [DateTime] :created_at_start 
    # @option opts [DateTime] :created_at_end 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [ListShipmentResponseBody]
    def v1_shipments_get(opts = {})
      data, _status_code, _headers = v1_shipments_get_with_http_info(opts)
      data
    end

    # shipments.find
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :batch_id 
    # @option opts [String] :tag 
    # @option opts [String] :shipment_status 
    # @option opts [DateTime] :modified_at_start 
    # @option opts [DateTime] :modified_at_end 
    # @option opts [DateTime] :created_at_start 
    # @option opts [DateTime] :created_at_end 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [Array<(ListShipmentResponseBody, Fixnum, Hash)>] ListShipmentResponseBody data, response status code and response headers
    def v1_shipments_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'batch_id'].nil? && opts[:'batch_id'].to_s.length > 25
        fail ArgumentError, 'invalid value for "opts[:"batch_id"]" when calling ShipmentsApi.v1_shipments_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'batch_id'].nil? && opts[:'batch_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"batch_id"]" when calling ShipmentsApi.v1_shipments_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'batch_id'].nil? && opts[:'batch_id'] !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'opts[:\"batch_id\"]' when calling ShipmentsApi.v1_shipments_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      if @api_client.config.client_side_validation && opts[:'shipment_status'] && !['pending', 'processing', 'label_purchased', 'cancelled'].include?(opts[:'shipment_status'])
        fail ArgumentError, 'invalid value for "shipment_status", must be one of pending, processing, label_purchased, cancelled'
      end
      if @api_client.config.client_side_validation && opts[:'sort_dir'] && !['asc', 'desc'].include?(opts[:'sort_dir'])
        fail ArgumentError, 'invalid value for "sort_dir", must be one of asc, desc'
      end
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !['modified_at', 'created_at'].include?(opts[:'sort_by'])
        fail ArgumentError, 'invalid value for "sort_by", must be one of modified_at, created_at'
      end
      # resource path
      local_var_path = '/v1/shipments'

      # query parameters
      query_params = {}
      query_params[:'batch_id'] = opts[:'batch_id'] if !opts[:'batch_id'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'shipment_status'] = opts[:'shipment_status'] if !opts[:'shipment_status'].nil?
      query_params[:'modified_at_start'] = opts[:'modified_at_start'] if !opts[:'modified_at_start'].nil?
      query_params[:'modified_at_end'] = opts[:'modified_at_end'] if !opts[:'modified_at_end'].nil?
      query_params[:'created_at_start'] = opts[:'created_at_start'] if !opts[:'created_at_start'].nil?
      query_params[:'created_at_end'] = opts[:'created_at_end'] if !opts[:'created_at_end'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_dir'] = opts[:'sort_dir'] if !opts[:'sort_dir'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListShipmentResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.create_shipments
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [CreateShipmentsResponseBody]
    def v1_shipments_post(body, opts = {})
      data, _status_code, _headers = v1_shipments_post_with_http_info(body, opts)
      data
    end

    # shipments.create_shipments
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipmentsResponseBody, Fixnum, Hash)>] CreateShipmentsResponseBody data, response status code and response headers
    def v1_shipments_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ShipmentsApi.v1_shipments_post"
      end
      # resource path
      local_var_path = '/v1/shipments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CreateShipmentsResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.get_rates_for_shipment
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :created_at_start 
    # @return [RateResponseBody]
    def v1_shipments_rates_by_shipment_id_get(shipment_id, opts = {})
      data, _status_code, _headers = v1_shipments_rates_by_shipment_id_get_with_http_info(shipment_id, opts)
      data
    end

    # shipments.get_rates_for_shipment
    # 
    # @param shipment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :created_at_start 
    # @return [Array<(RateResponseBody, Fixnum, Hash)>] RateResponseBody data, response status code and response headers
    def v1_shipments_rates_by_shipment_id_get_with_http_info(shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_rates_by_shipment_id_get ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_rates_by_shipment_id_get"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_rates_by_shipment_id_get, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_rates_by_shipment_id_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_rates_by_shipment_id_get, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # resource path
      local_var_path = '/v1/shipments/{shipment_id}/rates'.sub('{' + 'shipment_id' + '}', shipment_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'created_at_start'] = opts[:'created_at_start'] if !opts[:'created_at_start'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RateResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_rates_by_shipment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.remove_tag
    # 
    # @param shipment_id 
    # @param tag 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_shipments_tags_by_shipment_id_and_tag_delete(shipment_id, tag, opts = {})
      v1_shipments_tags_by_shipment_id_and_tag_delete_with_http_info(shipment_id, tag, opts)
      nil
    end

    # shipments.remove_tag
    # 
    # @param shipment_id 
    # @param tag 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_shipments_tags_by_shipment_id_and_tag_delete_with_http_info(shipment_id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_delete"
      end
      # resource path
      local_var_path = '/v1/shipments/{shipment_id}/tags/{tag}'.sub('{' + 'shipment_id' + '}', shipment_id.to_s).sub('{' + 'tag' + '}', tag.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_tags_by_shipment_id_and_tag_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # shipments.add_tag
    # 
    # @param shipment_id 
    # @param tag 
    # @param [Hash] opts the optional parameters
    # @return [ShipmentAddTagResponseBody]
    def v1_shipments_tags_by_shipment_id_and_tag_post(shipment_id, tag, opts = {})
      data, _status_code, _headers = v1_shipments_tags_by_shipment_id_and_tag_post_with_http_info(shipment_id, tag, opts)
      data
    end

    # shipments.add_tag
    # 
    # @param shipment_id 
    # @param tag 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShipmentAddTagResponseBody, Fixnum, Hash)>] ShipmentAddTagResponseBody data, response status code and response headers
    def v1_shipments_tags_by_shipment_id_and_tag_post_with_http_info(shipment_id, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post ...'
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post"
      end
      if @api_client.config.client_side_validation && shipment_id.to_s.length > 25
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post, the character length must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && shipment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "shipment_id" when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && shipment_id !~ Regexp.new(/^se(-[a-z0-9]+)+$/)
        fail ArgumentError, "invalid value for 'shipment_id' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post, must conform to the pattern /^se(-[a-z0-9]+)+$/."
      end

      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling ShipmentsApi.v1_shipments_tags_by_shipment_id_and_tag_post"
      end
      # resource path
      local_var_path = '/v1/shipments/{shipment_id}/tags/{tag}'.sub('{' + 'shipment_id' + '}', shipment_id.to_s).sub('{' + 'tag' + '}', tag.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShipmentAddTagResponseBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#v1_shipments_tags_by_shipment_id_and_tag_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
